.grid-add-fornecedor{
    grid-template-areas: 
    'nome'
    'email'
    'telefone'
    'cnpj'
    'btnCad'
    ;
}

.grid-add-fornecedor p:nth-child(1) {
    grid-area: nome;
}
.grid-add-fornecedor p:nth-child(2) {
    grid-area: email;
}
.grid-add-fornecedor p:nth-child(3) {
    grid-area: telefone;
}   
.grid-add-fornecedor p:nth-child(4) {
    grid-area: cnpj;
}
.grid-add-fornecedor p:nth-child(5) {
    grid-area: btnCad;
    justify-self: center;
}